

.qidirish{align-items: center;
  height: 10px;
  display: flex;
  border-radius: 1px solid black;
  align-items: center;
  justify-items: center;
  justify-content: center;
  
}
.yoz{background-color:white;
  border-radius:1px solid black;
  width:200px;
  border-radius:30px;
  
}
.qidir{background-color: gainsboro;
  border-radius:1px solid black;
  
  
  
  
}
.imgs{
  
  height: 200px;
  align-items: center;
  display: flex;
  gap:5px;
  border-radius: 1px solid black;
  width:200px;
}
.img img{
  
  height: 80px;
  width:80px;
  
}
.img {
  display: flex;
  gap:30px;
  background-color: azure
}



  .boshlanish{
    align-items: center;
    justify-content: center;
    display: flex;
   margin-right:100px;
    border-radius:1px solid black;
    
    
  }
  
  
  .instag{ border-radius:50px solid black;
    color:darkgrey;
    
  }

  
  .img2{
    height: 180px;
    width:100%;
    display: flex;
    gap:30px;
    background-color: azure;
  }
  .img2 img{
    
  height: 80px;
    width:80px;
    
  }



  





















  
  